.contentWrapper {
    margin-top: 5%;
    width: 100%;
    padding-bottom: 24px;
    padding: 0 24px;
    padding-bottom: 24px;

    /* Small screens and above (sm) */
    @media (min-width: 640px) {
        max-width: 640px;

    }

    /* Medium screens and above (md) */
    @media (min-width: 768px) {
        max-width: 768px;
    }

    /* Large screens and above (lg) */
    @media (min-width: 1024px) {
        max-width: 1024px;


    }

    /* Extra large screens and above (xl) */
    @media (min-width: 1280px) {
        max-width: 1200px;

    }

    /* 2X extra large screens and above (2xl) */
    @media (min-width: 1536px) {
        max-width: 1200px;


    }

    p {
        color: rgb(105, 109, 136);
    }
}

.heroSection {
    min-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.profileImageContainer {
    // width: 330px;
    // border-radius: 50%;
    // height: 180px;
    // overflow: hidden;

    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        width: auto;
        height: 198px;
        // display: block;
        // margin: auto;

    }
}

.myInformationContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    p {
        max-width: 800px;
        text-align: center;
    }

    button {
        width: 100px;
        height: 40px;
        // padding: 12px 26px;
        margin-top: 12px;
        border-radius: 4px;
        border: none;
        background-color: #4b98ff;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: background-color 0.2s ease;

        &:hover {
            text-decoration: none !important;
            background-color: #3980dd;
            cursor: pointer;
        }
    }


}

.projectsContainer {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
    gap: 24px;


    /* Small screens and above (sm) */
    @media (min-width: 640px) {
        max-width: 640px;
        grid-template-columns: repeat(auto-fit, minmax(640px, 1fr));


    }

    /* Medium screens and above (md) */
    @media (min-width: 768px) {
        max-width: 768px;
        grid-template-columns: repeat(auto-fit, minmax(640px, 1fr));
    }

    /* Large screens and above (lg) */
    @media (min-width: 1024px) {
        max-width: 1024px;
        grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));


    }

    /* Extra large screens and above (xl) */
    @media (min-width: 1280px) {
        max-width: 1280px;
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));

    }

    /* 2X extra large screens and above (2xl) */
    @media (min-width: 1536px) {
        max-width: 1536px;
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));


    }

    &__project {
        background-color: white;
        overflow: hidden;
        width: 100%;
        min-height: 489px;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        // margin-bottom: 50px;

        // border: 1px solid #d5d5d5;
        border-radius: 10px;

        iframe {
            border: 1px solid white;
        }

        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
        rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
        transition: box-shadow 0.2s ease;

        &:hover {
            box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
                rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
        }
    }

    &__projectHeading {
        height: auto;
        font-size: 14px;
        width: 100%;
        padding: 12px 24px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;




        p {


            text-overflow: ellipsis;
            overflow: hidden;
            width: 100%;
        }

        a {
            min-width: 200px;
            display: flex;
            color: black !important;
        }
    }

    &__prototypeLink {
        font-size: 14px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-top: 1px solid #d5d5d5;
        padding: 12px 24px;

        span {
            font-size: 12px;
            font-weight: 600;
            color: black;
        }

        span,
        a {
            font-size: 12px;
        }

        p {
            font-size: 12px;
            color: #333;
        }

        a {
            min-width: 111px;
            display: block;
            height: 36px;
            padding: 0 12px;
            background-color: #4b98ff;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 5px;
            /* Smooth background color transition */
            transition: background-color 0.2s ease;

            &:hover {
                text-decoration: none !important;
                background-color: #3980dd;
            }
        }
    }
}

.myServicesContainer {

    width: 100%;


    /* Small screens and above (sm) */
    @media (min-width: 640px) {
        max-width: 640px;

    }

    /* Medium screens and above (md) */
    @media (min-width: 768px) {
        max-width: 768px;
    }

    /* Large screens and above (lg) */
    @media (min-width: 1024px) {
        max-width: 1024px;


    }

    /* Extra large screens and above (xl) */
    @media (min-width: 1280px) {
        max-width: 1200px;

    }

    /* 2X extra large screens and above (2xl) */
    @media (min-width: 1536px) {
        max-width: 1200px;


    }



    &__grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
        gap: 24px;
        width: 100%;

        /* Small screens and above (sm) */
        @media (min-width: 640px) {
            grid-template-columns: repeat(auto-fit, minmax(640px, 1fr));


        }

        /* Medium screens and above (md) */
        @media (min-width: 768px) {
            grid-template-columns: repeat(auto-fit, minmax(640px, 1fr));
        }

        /* Large screens and above (lg) */
        @media (min-width: 1024px) {
            grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));


        }

        /* Extra large screens and above (xl) */
        @media (min-width: 1280px) {
            grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));

        }

        /* 2X extra large screens and above (2xl) */
        @media (min-width: 1536px) {
            grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));


        }
    }

    &__card {
        padding: 32px;
        border-radius: 10px;
        background: #fcfdff;
        border-radius: 10px;
        width: 100%;



        ul {
            margin: 0;
            padding-left: 1.2rem;
            color: var(--muted);
            line-height: 1.5;
        }

        li {
            margin-bottom: 0.5rem;
        }

        h2 {
            font-size: 1rem;
            margin: 0 0 16px 0;
        }

        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
        rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
        transition: box-shadow 0.2s ease;

        &:hover {
            box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
                rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
        }
    }
}

.sectionTitle {
    margin-top: 8rem;
    margin-bottom: 1rem;
    // border-bottom: 1px solid rgb(194, 194, 194);
    padding-bottom: 10px;

    h4 {
        font-size: 1.5rem;
        // font-family: 'Playfair Display', serif;
        font-optical-sizing: auto;
        font-weight: 500;

        font-style: normal;
    }
}

.myInfoTitle {
    margin-top: 20px;
    text-align: center;


    h4 {
        font-size: 1.5rem;
        // font-family: 'Playfair Display', serif;
        font-optical-sizing: auto;
        font-weight: 500;
        font-style: normal;
    }
}